html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}
.container {
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
  padding: 50px;
}

body {
  font-family: "Lucida Console", Monaco, Arial, monospace;
}

.dark {
  color: white;
  background: #1c2022;
  min-height: 100%;
}

.dark a {
  color: lightblue;
}

.light h2 {
  color: black;
}

.dark h2 {
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin-right: 10px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.theme-btn {
  background: none;
  border: none;
}

.center {
  text-align: center;
}

.list-item {
  margin-top: 10px;
  margin-bottom: 25px;
}

.title-light {
  margin-top: 0px;
  margin-bottom: 1px;
  text-decoration: none;
  color: #256bef;
  font-size: 26px;
}

.title-light a {
  text-decoration: none;
  color: inherit;
}

.title-light a:visited {
  color: #000363;
}

.title-dark {
  margin-top: 0px;
  margin-bottom: 1px;
  text-decoration: none;
  color: #256bef;
  font-size: 26px;
}

.title-dark a {
  color: #b5d3ff;
}

.title-dark a:visited {
  color: #234cad;
}

.metadata-light {
  font-size: 20px;
  color: grey;
}

.metadata-light a {
  color: black;
}

.metadata-dark {
  font-size: 20px;
  color: #858585;
}

.metadata-dark a {
  color: #c1c1c1;
}

.post h2, .user h2 {
  font-size: 35px;
  margin-top: 40px;
}

.comment-light {
  margin-top: 15px;
  background-color: #efefef;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 21px;
  overflow-wrap: break-word;
}

.comment-dark {
  margin-top: 15px;
  background-color: #3a3a3a;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 21px;
  overflow-wrap: break-word;
}

.nav {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 700px) {
  .container {
    width: 100%;
  }

  .nav-link {
    font-size: 23px;
  }

  .title-light {
    font-size: 18px;
  }

  .title-dark {
    font-size: 18px;
  }

  .metadata-light {
    font-size: 14px;
  }

  .metadata-dark {
    font-size: 14px;
  }

  .post h2, .user h2 {
    font-size: 27px;
  }

  .comment-light {
    font-size: 15px;
  }

  .comment-dark {
    font-size: 15px;
  }
}

