html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Lucida Console", Monaco, Arial, monospace;
}

.dark {
  color: white;
  background: #1c2022;
  min-height: 100%;
}

.dark a {
  color: lightblue;
}

.light h2 {
  color: black;
}

.dark h2 {
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin-right: 10px;
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.theme-btn {
  background: none;
  border: none;
}

.center {
  text-align: center;
}

.list-item {
  margin-top: 10px;
  margin-bottom: 25px;
}

.title-light {
  margin-top: 0px;
  margin-bottom: 1px;
  text-decoration: none;
  color: #256bef;
  font-size: 18px;
}

.title-light a {
  text-decoration: none;
  color: inherit;
}

.title-light a:visited {
  color: #000363;
}

.title-dark {
  margin-top: 0px;
  margin-bottom: 1px;
  text-decoration: none;
  color: #256bef;
  font-size: 18px;
}

.title-dark a {
  color: #b5d3ff;
}

.title-dark a:visited {
  color: #234cad;
}

.metadata-light {
  font-size: 14px;
  color: grey;
}

.metadata-light a {
  color: black;
}

.metadata-dark {
  font-size: 14px;
  color: #858585;
}

.metadata-dark a {
  color: #c1c1c1;
}

/*a {color:#FF0000;}         /* Unvisited link  */
/*a:visited {color:#00FF00;}  Visited link    */
/*a:hover {color:#FF00FF;}   /* Mouse over link */
/*a:active {color:#0000FF;}*/


.post h2, .user h2 {
  font-size: 27px;
  margin-top: 40px;
}

.comment-light {
  margin-top: 10px;
  background-color: #efefef;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
}

.comment-dark {
  margin-top: 10px;
  background-color: #3a3a3a;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
}